@media only screen and (max-width: 600px) {
  .background-img img {
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
  }

  .farmer-img img {
  width: 6rem;
  height: 6rem;
  top: -3rem;
}
.description{
<<<<<<< HEAD
  margin-left: 0px;
=======
>>>>>>> 10059412605bb80a0110f933ac34cc752722cc55
}

}
